{% extends 'course/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}
{% block title %}{% endblock title %}
{% block style %}

{% endblock style %}

{% block header %}
    {% include 'course/include/_header.html' %}
{% endblock header %}

{% block content %}
    <main>
        <section style="padding-top: 130px" id="main">
            <div class="subtitle-cover sub-title" style="background-color:#fff;">
                <div class="container">
                    <div class="row subtitle-border align-items-center">
                        <div class="col">
                            <h2 class="h1 text-center">Ommaviy oferta</h2></div>
                    </div>
                </div>
            </div>
            <div class="container page-global-padding">
                <div class="row">
                    <div class="col-md-12">
                        <div id="content" class="site-content " role="main">
                            <div id="post-3" class="post-3 page type-page status-publish hentry">
                                <div class="entry-content clearfix">
                                    <p class="has-text-align-center"><strong>OMMAVIY OFERTA</strong></p>
                                    <p class="has-text-align-center"><strong>e-se.uz sayti orqali
                                        mahsulotlar,
                                        tovarlar sotish va xizmat ko‘rsatish bo‘yicha</strong></p>
                                    <p class="has-text-align-center"><strong>1.&nbsp;&nbsp;&nbsp; Terminlar va
                                        taʼriflar</strong></p>
                                    <p><strong>Sotuvchi – “Stable Education” NTM (</strong>nodavlat ta'lim muassasasi),
                                        manzil: Buxoro viloyat, Buxoro shahar,
                                        B.Naqshband ko‘chasi, 128-uy, mazkur
                                        korxona tinglovchilarning buyurtmasi asosida masofadan, yaʼni internet orqali
                                        xizmatlar ko‘rsatuvchi.</p>
                                    <p><strong>Xaridor</strong>&nbsp;– jismoniy va yuridik shaxslar.</p>
                                    <p><strong>Oferta</strong>&nbsp;–&nbsp;sotuvchining nomuayyan shaxslar doirasiga
                                        chakana
                                        savdo-sotiq qilish yo‘li bilan internet orqali masofadan turib xizmatni sotib
                                        olish
                                        bo‘yicha sotuvchining shartlari doirasida shartnoma tuzishga yo‘llangan
                                        taklifdir.
                                    </p>
                                    <p><strong>Aksept</strong>&nbsp;– xaridor tomonidan ofertani to‘liq va shartlarsiz
                                        qabul
                                        qilish va shartnomani tuzilgan deb hisoblash.</p>
                                    <p><strong>Shartnoma</strong>&nbsp;(matnda – shartnoma) – internet orqali masofadan
                                        turib xizmatni sotib olish bo‘yicha sotuvchining shartlari bilan xaridorning
                                        tanishishi va roziligi asosida hamda belgilangan katalog yoki ro‘yhat doirasida
                                        taklif etilayotgan xizmatni sotib olish bo‘yicha kelishuv.</p>
                                    <p><strong>Tomon (lar)</strong>&nbsp;– xaridor va/yoki sotuvchi.</p>
                                    <p><strong>Buyurtma</strong>&nbsp;– elektron hujjat, unda xaridorni tanlagan xizmat
                                        turi, uning narxi (belgilangan hollarda esa tanlangan bonus(lar), xizmatni
                                        va/yoki
                                        uning natijasini eltib berish maqsadida talab etiladigan&nbsp;xaridorga tegishli
                                        maʼlumotlar: FISH yoki nomi, (elektron) manzil, qayta aloqaga kirishish uchun
                                        telefon raqami yoki elektron manzili (kontakt) va saytning tegishli shaklida
                                        belgilangan boshqa maʼlumotlar bo‘lishi talab etiladi. Buyurtmani to‘ldirish
                                        jarayonida xaridor pulni to‘lov usuli, to‘lov kodi, yetkazib berish xarajatlari
                                        haqida to‘liq maʼlumotni oladi.</p>
                                    <p><strong>To‘lov kodi</strong>&nbsp;– yagona va qaytarilmas raqam ko‘rinishidagi,
                                        har
                                        bir xaridorga va uning buyurtmasiga bir marta avtomatik tarzda beriladigan va
                                        uning
                                        imzosi sifatida baholanadigan raqam (kod) belgi. To‘lov kodi buyurtmaga bir
                                        marta
                                        berilishi munosabati bilan hisob-kitob hujjati (invoys) o‘rnini bosadi.</p>
                                    <p><strong>Xizmat(lar)</strong>&nbsp;– internet orqali masofadan turib
                                        ko‘rsatiladigan,
                                        xaridorning buyurtmasi asosida tanlangan, belgilangan kontakt maʼlumotlar
                                        bo‘yicha
                                        yetkazib berilishi ko‘zda tutilgan xizmatlar. Ularga masofaviy taʼlim,
                                        mahsulotlar,
                                        tovarlar, testlar, tanlovlar, auksion-shoular va boshqa moddiy, nomoddiy
                                        xizmatlar
                                        kiradi. Nomoddiy xizmatlar natijalarini moddiy (xat, guvohnoma, sertifikat)
                                        ko‘rinishida talab etilishi ham mumkin.</p>
                                    <p><strong>Bonus(lar)</strong>&nbsp;– sotuvchining internet orqali o‘tkazilishi
                                        belgilangan marketing tadbiri, bu asosida saytdan foydalanuvchilar sonini
                                        ko‘paytirish maqsad qilib olinadi. Bonuslar bepul va qisman pullik bo‘lishi
                                        mumkin.
                                        Buyurtmani shakllantirishda bonuslarni taqdim etish yoki tanlash majburiy emas.
                                    </p>
                                    <p><strong>Obuna</strong>&nbsp;– Saytning xizmatlaridan belgilangan muddatlarda
                                        doimiy,
                                        oldindan xabardorlik asosida muddatli foydalanish imkoniyatidir. Odatda, obuna
                                        muddati obunaga to‘lov qabul qilingan oyning sanasidan boshlab Xaridor tanlagan
                                        oyning yakunigacha deb belgilanadi.</p>
                                    <p><strong>Sayt</strong>&nbsp;–&nbsp;<strong><u>e-se.uz</u></strong>&nbsp;nomli
                                        veb-sayt bo‘lib, unda katalogda, ro‘yhatda belgilangan xizmatlar taklif etiladi.
                                    </p>
                                    <p><strong>Katalog</strong>&nbsp;– xizmatlar ro‘yxatlari, ushbu ro‘yhatlar saytda
                                        keltiriladi va u bo‘yicha xaridor xizmatlarni tanlashi va buyurtma berishi
                                        ko‘zda
                                        tutilgan.</p>
                                    <p><strong>Kuryer</strong>&nbsp;– Sotuvchi tomonidan Xizmatlarni, uning moddiy
                                        natijalarini, Bonuslarni, xatlarni va boshqa korrespondensiyalarni Xaridorga
                                        yetkazib berish uchun yollangan yuridik yoki jismoniy shaxs, asosan ushbu
                                        o‘rinda&nbsp;“O‘zbekiston
                                        pochtasi” OAJ xizmatidan foydalaniladi. Boshqa hollarda Kuryerlik Xaridor bilan
                                        kelishiladi.</p>
                                    <p><strong>Moddiy eltmalar&nbsp;</strong>– xaridorning talabiga asosan xizmatlarning
                                        natijalarini (tovarlar, mahsulotlar, xat, guvohnoma, sertifikat va boshqa)
                                        moddiy
                                        ko‘rinishida, bonuslarni, xatlarni va boshqa korrespondensiyalarni Xaridorga
                                        yetkazib berishdir. Moddiy eltmalarni eltib berish (transport va boshqa)
                                        xarajatlari
                                        Xizmatlar narxidan alohida hisoblanadi va bunda Xaridorning geografik joylashuvi
                                        eʼtiborga olinadi.</p>
                                    <p><strong>To‘lov usuli</strong>&nbsp;–xaridor tomonidan tanlangan, buyurtmaning
                                        shaklida nomi ko‘rsatilgan, xizmatlar bo‘yicha xaridorlarning pul to‘lovlarini
                                        qabul
                                        qilib olishga vakolatli tashkilotlar – operator tomonidan taklif etilayotgan
                                        to‘lov
                                        usullari. To‘lov usulini amalga oshirayotgan operator&nbsp;xaridor oldida faqat
                                        pulni qabul qilish va uni sotuvchiga yetkazib berishga javobgardir. Xizmatning
                                        (moddiy va nomoddiy) natijalari, bonuslar (soni, sifati, muddati, narxi va
                                        boshqalar) bo‘yicha bunday tashkilot –&nbsp;Operator&nbsp;hech qanday
                                        javobgarlikni
                                        o‘z zimmasiga olmasligi oldindan tan olinadi.</p>
                                    <p><strong>Operator</strong>&nbsp;– aholidan pul o‘tkazish yo‘li va unga
                                        tenglashtirilgan pul to‘lovlarini qabul qilib olishga davlat tomonidan
                                        vakolatlangan
                                        va sotuvchi bilan tegishli shartnomasi mavjud bo‘lgan tashkilotlar.</p>
                                    <p><strong>Elektron hujjatlar&nbsp;</strong>– buyurtmalar, to‘lov hujjatlari,
                                        hisob-kitob hujjati (invoys), reklamatsiyalar, eʼtorozlar va tomonlar o‘z
                                        majburiyatlarini bajarishlariga tegishli boshqa hujjatlar.</p>
                                    <p class="has-text-align-center"><strong>2.&nbsp;Umumiy shartlar</strong></p>
                                    <p>2.1.&nbsp;&nbsp;Ushbu shartnoma hamda saytdagi taklif etilayotgan xizmatlar
                                        ommaviy
                                        oferta hisoblanadi.</p>
                                    <p>2.2.&nbsp;&nbsp;Xaridor saytda buyurtmani shakllantirishda mazkur shartnoma
                                        shartlariga rozi va ularni to‘liq qabul qilishini bildiradi.</p>
                                    <p>2.3.&nbsp;&nbsp;Xizmatlarni sotish hududi – O‘zbekiston Respublikasi hududi hamda
                                        dunyo miqyosida sotish hisoblanadi.</p>
                                    <p>2.4.&nbsp;&nbsp;Sotuvchi shartnoma shartlariga har qanday vaqtda o‘z tomonidan
                                        o‘zgartirish kiritish huquqiga ega.</p>
                                    <p>2.5.&nbsp;&nbsp;Sotuvchi xizmatlarni sotish jarayoniga xaridorning roziligisiz
                                        uchinchi tomonni jalb etish huquqiga ega</p>
                                    <p>2.6.&nbsp;&nbsp;Xizmatdan foydalanish jarayonida xizmat yuzasidan qo‘shimcha
                                        savolga,
                                        maslahatga ehtiyoj paydo bo‘lganda xaridor birinchi bo‘lib sotuvchiga murojaat
                                        qilishi lozim. Ushbu talabni qondirish uchun xaridor saytda ko‘rsatilgan:
                                        “Aloqa”
                                        tugmasi yoki maxsus ajratilgan telefon raqami orqali yoki ko‘rsatilgan elektron
                                        manzilga murojaat qilishi yetarlidir.</p>
                                    <p>2.7.&nbsp;&nbsp;Xaridor saytdan olingan xizmat va uning natijalarini, bonuslar va
                                        boshqa moddiy va nomoddiy mulkiy huquqlarni tijorat maqsadlarida ishlatmaslik
                                        majburiyatini o‘z zimmasiga oladi.&nbsp;Bunday hatti harakatlar qonun
                                        buzilishiga
                                        olib kelishini to‘liq idrok etadi.</p>
                                    <p>2.8.&nbsp;&nbsp;Tegishli hollarda moddiy eltmalarni yetkazib berilishi muddati
                                        (Buyurtmani shakllantirish paytida ularni omborda mavjudligi va boshqa
                                        holatlarni
                                        o‘zida aks ettirgan holda) shartli hisoblanadi. Qoidaga ko‘ra, Moddiy eltmalar&nbsp;“O‘zbekiston
                                        pochtasi” OAJ orqali yetkazilishini inobatga olib tugal muddat “O‘zbekiston
                                        pochtasi” OAJning meʼyorlari va tartiblarida belgilangan muddatlar va kafolatlar
                                        bilan belgilanadi.</p>
                                    <p>2.9.&nbsp;&nbsp;Buyurtma shakllantirilgan kundan 5 (besh) kun ichida to‘lov
                                        amalga
                                        oshirilishi lozim. Ushbu muddat ichida barcha narxlar o‘zgarmas hisoblanadi.
                                        Ushbu
                                        muddat o‘tgandan so‘ng Buyurtma bekor qilinadi va qaytadan Buyurtma
                                        shakllantirilishi talab etiladi.</p>
                                    <p>2.10.&nbsp;Moddiy eltmalarni Xaridorga yetkazib berish uchun uchinchi tomon jalb
                                        etilishini inobatga olgan holda eltib berish xizmatlari uchun alohida to‘lov
                                        belgilanishi xaridorda eʼtiroz tug‘dirmaydi, bu holat idrok etiladi.</p>
                                    <p class="has-text-align-center"><strong>3.&nbsp;Buyurtmani shakllantirish
                                        tartibi</strong></p>
                                    <p>3.1.&nbsp;&nbsp;Xizmat(lar)ni sotib olish niyatida xaridor saytda ko‘rsatilgan
                                        shaklni – Buyurtmani rasmiylashtiradi. Birinchi marta buyurtmani
                                        rasmiylashtirayotgan xaridor “Saytda ro‘yhatdan o‘tish” jarayonidan o‘tadi,
                                        keyingi
                                        holatlarda “Avtorizatsiyadan o‘tish” jarayonidan o‘tadi.</p>
                                    <p>3.1.1.&nbsp;Ro‘yhatdan o‘tish – xizmatlar natijalarini va/yoki moddiy eltmalarni
                                        xaridorga yetkazishni amalga oshirish uchun zarur bo‘lgan maʼlumotlarni Saytda
                                        keltirilgan shakl – “Mening sozlashlarim” shaklidagi ko‘rsatilgan forma asosida
                                        Xaridor tomonidan to‘ldirilishidir. Ro‘yxatdan o‘tish Xaridor uchun shaxsiy
                                        kabinet
                                        ochish imkoniyatini beradi. “Mening sozlashlarim” shaklidagi barcha
                                        maʼlumotlarni
                                        Xaridor o‘z shaxsiy kabinetiga kirgandan so‘ng mustaqil o‘zgartirishi
                                        mumkin.</p>
                                    <p>3.1.2.&nbsp;Faqat ro‘yhatdan o‘tgandan so‘ng yoki Avtorizatsiyadan o‘tgandan
                                        so‘ng
                                        buyurtma uchun to‘lovni amalga oshirish imkoniyati paydo bo‘ladi. “Mening
                                        sozlashlarim” shaklida ko‘rsatilishi majburiy bo‘lgan maʼlumotlar majmui mavjud.
                                        Bunday maʼlumotlarni to‘ldirmaslik buyurtmani rasmiylashtirish imkonini
                                        chegaralab
                                        qo‘yadi yoki bermaydi.</p>
                                    <p>3.2.&nbsp;&nbsp;Buyurtmani shakllantirish jarayoni “To‘lash” tugmasini bosish
                                        bilan
                                        yakunlanadi. Ushbu tugmani bosish chakana savdo-sotiq bo‘yicha shartnoma
                                        tuzilganligini tasdiqlovchi Aksept hisoblanadi. Ushbu holatdan so‘ng xaridor 5
                                        (besh) kalendar kuni ichida buyurtmaning to‘lovini amalga oshiradi. To‘lov
                                        amalga
                                        oshirilgan vaqtdan boshlab zudlik bilan yoki uzog‘i bilan 72 soat ichida
                                        Sotuvchi
                                        tomonidan yoki mobil telefon aloqasi orqali&nbsp;SMS-xabar, yoki elektron pochta
                                        orqali (qaysi bir aloqaning taqdim etilgani, qulayligi, tezligiga qarab)
                                        to‘lovni
                                        qabul qilingani to‘g‘risida Operator tasdig‘ini oladi.</p>
                                    <p>3.3.&nbsp;&nbsp;Buyurtmani rasmiylashtirishda (shakllarni to‘ldirishda) taqdim
                                        etilgan maʼlumotlarni to‘g‘riligi va ishonchliligiga xaridor to‘liq
                                        javobgarlikni
                                        o‘z zimmasiga oladi.</p>
                                    <p>3.4.&nbsp;&nbsp;Xizmat natijalarini taqdim etish xaridor tomonidan to‘lovni
                                        to‘liq
                                        amalga oshirgandan so‘ng sotuvchi tomonidan amalga oshiriladi.</p>
                                    <p class="has-text-align-center"><strong>4.&nbsp;To‘lovni amalga oshirish</strong>
                                    </p>
                                    <p>4.1.&nbsp;&nbsp;To‘lanishi zarur bo‘lgan summa buyurtmani rasmiylashtirishda
                                        xaridorga taqdim etiladi. Xizmatlarning ro‘yhati va baholar katalogda
                                        keltirilib,
                                        ushbu baholarga moddiy eltmalar narxi kiritilmagan bo‘ladi. Katalogda
                                        keltirilgan
                                        baholar sotuvchi tomonidan har qanday vaqtda o‘zgartirilishi mumkin. Bunday
                                        o‘zgartirishlar rasmiylashtirilgan va to‘lov amalga oshirilgan buyurtmalarga
                                        taaluqli emas. Hisob-kitoblar milliy valyuta (so‘m)da amalga oshiriladi.</p>
                                    <p>4.2.&nbsp;&nbsp;Moddiy eltmalar, ularni transport, qadoqlash va boshqa xarajatlar
                                        narxlari va summasi buyurtma tarkibida alohida ko‘rsatiladi.</p>
                                    <p>4.3.&nbsp;&nbsp;Xizmatlar, moddiy eltmalar va boshqa xarajatlar uchun to‘lovlar
                                        xaridor tomonidan to‘lov kodi asosida, belgilangan operator orqali 100 foiz
                                        oldindan
                                        to‘lovni amalga oshirganidan so‘ng xizmatlar va moddiy eltmalar xaridorga
                                        jo‘natish
                                        uchun internet tizimiga va/yoki kuryerga taqdim etiladi. Saytda ko‘rsatilgan
                                        operatordan boshqa turdagi to‘lovlar qabul qilinmaydi.</p>
                                    <p class="has-text-align-center"><strong>5.&nbsp;Xizmatlar natijalari va moddiy
                                        eltmalarni yetkazib berish. mulkiy huquqni o‘tishi</strong></p>
                                    <p>5.1.&nbsp;&nbsp;Xizmatlar natijalari bo‘yicha nomoddiy eltmalarni yetkazib berish
                                        quyidagicha amalga oshiriladi:</p>
                                    <p>5.1.1.&nbsp;Internet tarmog‘idan uzatilishi ko‘zda tutilgan&nbsp;nomoddiy
                                        eltmalar
                                        internet orqali, zudlik bilan yoki uzog‘i 72 soat ichida internet tarmog‘iga
                                        taqdim
                                        etiladi, ushbu paytdan boshlab mazkur eltmaga nomoddiy mulkiy huquq xaridorga
                                        o‘tadi.</p>
                                    <p>5.1.2.&nbsp;Mobil aloqa tizimidan uzatilishi ko‘zda tutilgan nomoddiy eltmalar&nbsp;SMS-xabarlari
                                        orqali, zudlik bilan yoki uzog‘i 72 soat ichida mobil aloqa tarmog‘iga taqdim
                                        etiladi, ushbu paytdan boshlab mazkur eltmaga nomoddiy mulkiy huquq xaridorga
                                        o‘tadi.</p>
                                    <p>5.2.&nbsp;&nbsp;Moddiy eltmalarni xaridor belgilab bergan manzilga yetkazib
                                        berishda
                                        sotuvchi kuryer xizmatidan foydalanishi mumkin.</p>
                                    <p>5.3.&nbsp;&nbsp;Moddiy eltma oldindan kelishilgan, belgilangan manzilga va vaqtda
                                        yetkazilsada, lekin moddiy eltma xaridorning aybi bilan qabul qilib olinmasa,
                                        moddiy
                                        eltmani qaytadan yetkazib berilishi tashkil etilmaydi va buyurtma bekor
                                        qilinadi.</p>
                                    <p>5.4.&nbsp;Moddiy eltmani taqdim etilishi “O‘zbekiston pochtasi” OAJ belgilagan
                                        tartibda amalga oshiriladi.</p>
                                    <p>5.5.&nbsp;&nbsp;Kuryer tomonidan moddiy eltma taqdim etilishi bilan mulkiy huquq
                                        xaridorga o‘tadi.</p>
                                    <p>5.6.&nbsp;&nbsp;Moddiy eltmalarni yetkazib berish bo‘yicha belgilangan eng katta
                                        muddatning o‘tishi bilan kuryer tomonidan mazkur eltmalarni taqdim etilmasligi
                                        muddatni uzaytirilishiga sabab bo‘ladi. Bunday holda kuryer xaridorni xabardor
                                        qilishi zarur.</p>
                                    <p>5.7.&nbsp;&nbsp;Moddiy eltmaning holati, soni, sifati, nomi, tarkibi, butunligi
                                        taqdim etilgan hujjatga mos kelgan holda moddiy eltmani xaridor eʼtirozsiz qabul
                                        qilib olishga majbur. Moddiy eltmani qabul qilib olgandan so‘ng, zarur hollarda
                                        tegishli hujjatlarni imzolashni (rasmiylashtirishni) o‘z zimmasiga oladi.</p>
                                    <p>5.8.&nbsp;&nbsp;Moddiy eltmalarni faqat hujjatda nomi ko‘rsatilgan shaxs –
                                        buyurtmaning egasi qabul qilib olishga haqli. Moddiy eltmani qabul qilib olishda
                                        shaxs o‘zining shaxsini tasdiqlovchi hujjat (pasport, harbiy bilet, haydovchilik
                                        guvohnomasi va boshqalar)ni kuryerga taqdim etishi shart.</p>
                                    <p>5.9.&nbsp;&nbsp;Kurer xaridorga quyidagi hollarda moddiy eltmani bermaslikga
                                        haqli:</p>
                                    <p>– shaxs, o‘zining shaxsini tasdiqlovchi hujjatlarni taqdim etmasa;</p>
                                    <p>– tegishli hujjatlarni imzolashdan bosh tortsa;</p>
                                    <p>–&nbsp;moddiy eltma rasmiylashtirilgan nomdagi shaxsdan boshqa shaxs eltmani
                                        qabul
                                        qilishni ixtiyor etsa;</p>
                                    <p>– qabul qilib oluvchi balog‘atga yetmagan bo‘lsa yoki ish layoqatiga ega
                                        bo‘lmasa;</p>
                                    <p>– qonunchilikda, shartnomada, kuryerning xizmat qoidalarida va boshqa hujjatlarda
                                        belgilangan va mazkur holatni yechimini ko‘zda tutgan hollarda.</p>
                                    <p>Yuqorida ko‘rsatilgan hol yuz bersa moddiy eltma kuryer tomonidan sotuvchiga
                                        qaytariladi va shartnoma bekor qilinadi. Kuryer moddiy eltmani qaytarish
                                        bo‘yicha
                                        ishlarni tashkil etishda sotuvchi bilan alohida kelishishi zarur.</p>
                                    <p>5.10.&nbsp;Shartnoma asosida amalga oshirilayotgan savdo-sotiq munosabatlari
                                        masofadan turib amalga oshirilayotganini eʼtiborga olib, moddiy eltmalar
                                        tarkibida
                                        taqdim etilgan moddiyliklar yoki ularning qismi almashtirib berish va qaytarib
                                        berish kabi hatti-harakatlarni talab etib qolgan hollarda, bunday
                                        hatti-harakatlarni
                                        tegishli qo‘shimcha to‘lovlarsiz amalga oshirilishi imkoniyati mavjud emasligini
                                        tomonlar idrok etadilar va tan oladilar.</p>
                                    <p>5.11.&nbsp;Moddiy eltmalarni kuryerni taqdimotidan so‘ng xaridor tomonidan
                                        tegishli
                                        tartibda imzolash natijasida qabul qilib olingandan so‘ng moddiy eltmalarning
                                        tasodifan halokatga uchrashi yoki shikastlanishi xavfi bo‘yicha javobgarlik
                                        xaridorga o‘tadi.</p>
                                    <p class="has-text-align-center"><strong>6.&nbsp;Eʼtirozlarni taqdim etish</strong>
                                    </p>
                                    <p>6.1.&nbsp;&nbsp;Xaridor ko‘rsatilgan xizmat, uning natijalarini olgandan
                                        eʼtiboran 5
                                        kun mobaynida ular bo‘yicha eʼtirozlar, talablar va takliflarni taqdim etish
                                        huquqiga ega. Mazkur muddat o‘tganidan so‘ng sotuvchi eʼtirozlarni qabul
                                        qilmaydi.</p>
                                    <p>6.2.&nbsp;&nbsp;Xizmatning xaridor tomonidan kamchilik deb topilgan va taqdim
                                        etilgan
                                        eʼtirozlari tomonlarda kelishmovchilikni yuzaga keltirgan holatlarda qo‘shimcha
                                        ravishda ekspertiza o‘tkazilishi mumkin. Sotuvchi hisobidan harajatlar
                                        qoplanishi
                                        ko‘zda tutilgan ekspertiza natijasida kamchilikning mavjud emasligi, yoki
                                        kamchilik
                                        sotuvchiga munosabati bo‘lmagan holatlar natijasida yuz berganligi aniqlansa,
                                        xaridor bunday hatti-harakatlarga sarflangan xarajatlarni to‘liq qoplab berish
                                        majburiyatini o‘z zimmasiga oladi.</p>
                                    <p class="has-text-align-center"><strong>7.&nbsp;Javobgarlik</strong></p>
                                    <p>7.1.&nbsp;&nbsp;Shartnoma shartlari asosan elektron dasturiy taʼminot tomonidan
                                        amalga oshirilayotgani va xizmat masofadan internet orqali amalga
                                        oshirilayotgani,
                                        shu jumladan xaridorga nomoddiy mulk taklif etilayotganini eʼtiborga olib,
                                        xaridor
                                        saytda buyurtmani rasmiylashtirayotib buyurtma qisman va to‘liq bajarilmay
                                        qolgan
                                        hollarda neustoyka, jarima yoki ko‘rilgan zararni qoplanishini talab etmaslikni
                                        o‘z
                                        zimmasiga oladi. Bunday hollarda sotuvchi tomonidan xizmat natijalarini yetkazib
                                        berish amalga oshiriladi.</p>
                                    <p>7.2.&nbsp;&nbsp;Shartnomaning 7.1-bandida keltirilgan sabablar asosida
                                        buyurtmaning
                                        kechiktirib bajarilishi oqibatida xaridor tomonidan boy berilgan foyda, maʼnaviy
                                        zarar va shu kabi boshqa eʼtirozlar bildirilmasligini o‘z zimmasiga oladi va
                                        sotuvchi bunday talab va eʼtirozlarni qabul qilmaydi.</p>
                                    <p>7.3.&nbsp;&nbsp;Sotuvchining xaridor oldidagi mulkiy javobgarligi hajmi
                                        buyurtmaning
                                        bahosi (summasi)dan oshmasligini tomonlar tushunadilar va qo‘llaydilar.</p>
                                    <p class="has-text-align-center"><strong>8.&nbsp;Boshqa shartlar</strong></p>
                                    <p>8.1.&nbsp;&nbsp;Tomonlar o‘z majburiyatlarini bajarishlarida xaridor tomonidan
                                        buyurtmani rasmiylashtirishda taqdim etgan maʼlumotlarni (familiya, ism, sharif,
                                        manzil, indeks, elektron pochta, telefon raqami va boshqalarni) ishonchliligiga
                                        to‘liq javobgarlikni xaridor o‘z zimmasiga oladi. Agar xaridor tomonidan taqdim
                                        etilgan maʼlumotlarning noto‘g‘riligi natijasida tomonlar o‘z majburiyatlarini
                                        bajara olmasalar, unda sotuvchi buyurtmani bajarilmasligi holatlari bo‘yicha
                                        javobgar bo‘lmaydi, bunda kelib chiqadigan oqibatlarni o‘zidan soqit qiladi.</p>
                                    <p>8.2.&nbsp;&nbsp;Buyurtmani rasmiylashtirish jarayonida yoki xizmatlar
                                        natijalarini
                                        sotuvchi yuborishidan oldin xaridorning rekvizitlari o‘zgarganda yoki ushbu
                                        rekvizitlarda xato mavjudligini xaridor sezib qolganda, bunday rekvizitlar
                                        sotuvchining xaridor oldidagi majburiyatlarini bajarishga taʼsir o‘tkazishi
                                        mumkin
                                        bo‘lgan hollarda xaridor zudlik bilan sotuvchiga xabar beradi. Bunday shartga
                                        amal
                                        qilinmagan hollarda agar sotuvchi xizmat natijalarini internet orqali jo‘natgan
                                        bo‘lsa, unda xaridorga ushbu hatti-harakatlar qo‘shimcha to‘lov asosida amalga
                                        oshiriladi.</p>
                                    <p>8.3.&nbsp;&nbsp;Xaridor sotuvchi tomonidan ushbu saytga tegishli bo‘lgan
                                        axborotlarni, shu jumladan, o‘zaro manfaatdor bo‘lgan reklama xabarlarini
                                        xaridorning elektron pochtasi, telefoniga yuborilib turilishiga eʼtiroz
                                        bildirmaydi.
                                        Obunachi sifatida ro‘yxatdan o‘tgan xaridorlar axborotlarni, shu jumladan,
                                        manfaatli
                                        reklama xabarlarini doimiy yetkazib berilib turilishini idrok etadilar va
                                        rozilik
                                        bildiradilar. Xaridor sababini bildirmagan holda bunday xabarlarni inkor etishi
                                        huquqiga ega. Xaridor tomonlar majburiyatlarini bajarilishi bilan bog‘liq
                                        xabarlarni
                                        inkor etishga haqli emas.</p>
                                    <p>8.4.&nbsp;&nbsp;Saytda ro‘yxatdan o‘tishi bilan xaridor mazkur oferta orqali
                                        shartnoma shartlari bilan to‘liq tanishib chiqqanligini va bu shartlarga o‘z
                                        roziligini bildiradi.</p>
                                    <p>8.5.&nbsp;&nbsp;Xizmatlar natijalarini va/yoki moddiy eltmalarni xaridorga taqdim
                                        etilgan paytdan 5 kun o‘tgandan so‘ng shartnoma to‘liq ijro etilgan va muddati
                                        tugagan hisoblanadi.</p>
                                    <p class="has-text-align-center"><strong>9.&nbsp;Shartnomaga o‘zgartirish va
                                        qo‘shimchalar kiritish</strong></p>
                                    <p>9.1.&nbsp;&nbsp;Sotuvchi bir tomonlama mazkur shartnoma shartlarini hamda saytda
                                        chop
                                        etilgan barcha hujjatlarni o‘zgartirish huquqiga ega. Sotuvchi xaridorni bunday
                                        o‘zgarishlar haqida xabar bilan taʼminlash majburiyatini o‘z zimmasiga olmaydi.
                                        Amalga oshirilgan barcha o‘zgartirishlar saytda chop etilgan vaqtdan boshlab
                                        xaridor
                                        uchun shartli hisoblanadi. Bunday o‘zgartirishlar xaridor tomonidan qabul
                                        qilinmasa,
                                        sotuvchini xabardor qilgan holda xaridor buyurtmani bekor qilish huquqiga
                                        ega.</p>
                                    <p class="has-text-align-center"><strong>10.&nbsp;Munozaralarni yechish
                                        tartibi</strong>
                                    </p>
                                    <p>10.1.&nbsp;Sotuvchi va xaridor yuzaga kelgan barcha munozarali holatlarni
                                        kelishuv
                                        muzokaralari orqali yechishga harakat qiladilar. Xaridor barcha eʼtirozlari,
                                        munozaralarini sotuvchiga quyidagi tartibda yuboradi:</p>
                                    <p>10.1.1.&nbsp;Sotuvchiga qarashli (99) 700-99-44; raqamli telefon orqali har
                                        kuni
                                        (bayram, shanba va yakshanba kunlaridan tashqari) soat 09.00 dan 17.00 gacha
                                        (tushlik 13.00 dan 14.00 gacha) vaqt oralig‘ida;</p>
                                    <p>10.2.&nbsp;Sotuvchi eʼtirozlarni olgan vaqtdan boshlab 10 ish kuni mobaynida
                                        ko‘rib
                                        chiqadi va xaridorga javob beradi.</p>
                                    <p>10.3.&nbsp;Shartnoma bajarilishi jarayonida yuzaga keladigan nizoli masalalarni
                                        hal
                                        etish taraflar tomonidan muzokaralar olib borish orqali amalga
                                        oshiriladi.&nbsp;</p>
                                    <p>10.4. Shartnoma bajarilishi bilan bog‘liq kelishmovchiliklar va nizolarni
                                        muzokaralar
                                        orqali hal etib bo‘lmagan taqdirda, ular taraflar tomonidan O‘zbekiston
                                        Respublikasi
                                        qonunlarida belgilangan tartibda sudga murojaat qilish yo‘li bilan hal
                                        etiladi.</p>
                                    <p class="has-text-align-center"><strong>11. Intellektual mulk
                                        munosabatlari</strong>
                                    </p>
                                    <p>11.1.&nbsp;Xaridor saytda keltirilgan barcha tovar belgilari, nomlar, patentlar,
                                        mualliflik huquqlari, maʼlumotlar bazalari, qayd etilgan va etilmagan boshqa
                                        huquqlar sotuvchiga daxldor ekanligini eʼtirof etadi.</p>
                                    <p>11.2.&nbsp;Xaridor sotuvchiga tegishli bo‘lgan barcha intellektual mulklardan
                                        tijoriy
                                        foydalanish, boshqatdan qayd etish huquqlariga ega emas.</p>
                                    <p>11.3.&nbsp;Saytdagi barcha axborot va grafik tasvirlar sotuvchining mulkidir.
                                        Ulardan
                                        foydalanish mualliflik sohasidagi meʼyorlar asosida amalga oshiriladi.</p>
                                    <p>11.4.&nbsp;Saytga tegishli har qanday materiallar sotuvchining faqat yozma
                                        ruxsati
                                        bilan qayta chop etilishi, boshqa maqsadlarda ishlatilishi mumkin.</p>
                                    <p class="has-text-align-center"><strong>12. Maʼlumotlarni saqlanishi</strong></p>
                                    <p>12.1.&nbsp;Sotuvchi xaridor tomonidan taqdim etilgan shaxsiy maʼlumotlarni
                                        qonunchilikda belgilangan tartibda va darajada himoyada bo‘lishi va sir
                                        saqlanishiga
                                        javobgar.</p>
                                    <p class="has-text-align-center"><strong>13. Obuna va boshqa tadbirlar</strong></p>
                                    <p>13.1.&nbsp;Obuna&nbsp;nomuayyan muddatga va/yoki oylik bo‘lib, obuna bo‘lish
                                        hohish
                                        asosida amalga oshiriladi. Obunachi xaridor huquqidan to‘liq foydalanadi, unga
                                        qo‘shimcha ravishda quyidagi huquqlarga ega bo‘ladi:</p>
                                    <p>– obuna pullik bo‘lgan hollarda oldindan moliyaviy qo‘yilmalar kiritishlarini
                                        eʼtiborga olgan holda, ularga bonuslar taqdim etilishi mumkin.</p>
                                    <p>– obunachilarga saytda yuz beradigan barcha yangiliklar bepul ravishda oldindan
                                        yetkazib beriladi.</p>
                                    <p>– obunachilar saytning barcha maʼlumotlaridan nomuayyan muddatda va/yoki bir oy
                                        davomida bepul foydalanish huquqiga ega.</p>
                                    <p>13.2.&nbsp;Sotuvchi saytni ommabopligini oshirish maqsadida turli intellektual
                                        o‘yinlar va boshqa aksiyalar o‘tkazishi mumkin.</p>
                                    <p></p>
                                    <p>SAYT REKVIZITLARI</p>
                                    <p><strong>“Stable Education”</strong>&nbsp;<strong>NTM</strong></p>
                                    <p>Manzil: Buxoro viloyat, Buxoro shahar,f
                                        B.Naqshband ko‘chasi, 128-u</p>
                                    <p><strong>“Stable Education”</strong>&nbsp;<strong>NTM rahbari&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Nurali Homidov</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </p>
                                    <p>Mazkur shartnomani qabul qilish bo‘yicha harakat yoki quyida keltirilgan
                                        rekvizitlar
                                        bo‘yicha to‘lov qilish, Siz mazkur shartnoma shartlarini biror bir istisnosiz va
                                        /yoki cheklovsiz to‘liq va shartsiz qabul qilganingizni bildiradi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}

{% block footer %}
    {% include 'course/include/_footer.html' %}
{% endblock footer %}
