{% load static %}
<header>
    <h2>
        <label for="nav-toggle">
            <span class="fas fa-bars"></span>
        </label>
        <span>{{ request.user.get_full_name }}</span>
        {#        {% now 'F : d : Y' %}#}

    </h2>

    <div class="user-wrapper">
        {#        <div class="notice">#}
        {#            <a href=""><span class="fas fa-sms position-relative"></span></a>#}
        {#            <span class="position-absolute top-1 translate-middle badge rounded-pill bg-warning badge-notice">4</span>#}
        {#        </div>#}
        {#        <div class="notice">#}
        {#            <a href=""><span class="fas fa-bell position-relative"></span></a>#}
        {#            <span class="position-absolute top-1 translate-middle badge rounded-pill bg-warning badge-notice">4</span>#}
        {#        </div>#}
        {% if request.user.profile_image %}
            <img src="{{ request.user.profile_image.url }}" alt="user_img" width="40" height="40">
        {% else %}
            <img src="{% static 'courses/images/man.png' %}" alt="user_img" width="40" height="40">

        {% endif %}
        <span class='fas '></span>
    </div>
</header>

