{% extends 'courses/home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load attr %}
{% block title %}
    Kursga yozilish
{% endblock %}

{% block header %}

    {% include 'courses/home/_header.html' %}

    <section class="wrapper_courses fn-size">
        <div class="row">

            <div class="col-12 card p-5">
                <fieldset class='p-5'>{{ course.title }}</fieldset>
                <form action="" method='post'>
                    <div class="row justify-content-around">
                        <div class="col-md-4  p-5">
                            <h2>{{ form.group.label }}</h2>
                            {% render_field form.group class+='form-control fn-size m-3' type='file' %}
                            {% comment %} {{enroll.first_name.label}}{{enroll.first_name|add_value:request.user.first_name}} {% endcomment %}
                            {% comment %} <h2>{{enroll.first_name.label}}</h2>
          {%render_field enroll.first_name class='form-control fn-size m-3' value=request.user.first_name%}

          <h2>{{enroll.last_name.label}}</h2>
          {%render_field enroll.last_name class='form-control fn-size m-3' value=request.user.last_name%}

          <h2>{{enroll.parent_name.label}}</h2>
          {%render_field enroll.parent_name class='form-control fn-size m-3' %}

          <h2>{{enroll.date_of_birth.label}}</h2>
          {%render_field enroll.date_of_birth class+='form-control fn-size m-3' type='date' %}
            
          <h2>{{enroll.profil_pic.label}}</h2>
          {%render_field enroll.profil_pic class+='form-control fn-size m-3' type='file' %} {% endcomment %}

                        </div>
                        <div class="col-md-4   p-5">


                            {% comment %} <h2>{{enroll.group.label}}</h2>
          {% render_field enroll.group class='form-control fn-size m-3'%}

          <h2>{{enroll.email.label}}</h2>
          {% render_field enroll.email class='form-control fn-size m-3'%}

          <h2>{{enroll.passport.label}}
            <span class="asteriskField">*</span>
          </h2>
          {% render_field enroll.passport class='form-control fn-size m-3'%}


          <h2>{{enroll.gender.label}}</h2>
          {% render_field enroll.gender class='form-control fn-size m-3'%}

          {{enroll.course}} {% endcomment %}

                        </div>
                        {% csrf_token %}
                        <div align='right'>
                            <input type="submit" class='btn'>

                        </div>
                    </div>


                </form>
            </div>
        </div>

    </section>




    {% block main %}

    {% endblock %}

{% endblock %}

{% block footer %}
    {% include 'courses/home/_footer.html' %}
{% endblock %}



