{% extends 'course/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% load humanize %}
{% block title %}{% endblock title %}
{% block style %}

{% endblock style %}

{% block header %}
    {% include 'course/include/_header.html' %}
{% endblock header %}

{% block content %}

    <main style="margin-top: 82px; height: 50vh;">
        <section>
            <div class="container">
                <h1>Parolni tiklash yuborildi</h1>
                <ul>
                    <li class="m-4">Agar siz kiritgan e-pochtada hisob mavjud boʻlsa, parolni oʻrnatish boʻyicha
                        koʻrsatmalarni elektron
                        pochta orqali yubordik. Siz ularni qisqa vaqt ichida olishingiz kerak.
                    </li>
                    <li class="m-4">Agar siz elektron pochta xabarini olmagan bo'lsangiz, ro'yxatdan o'tgan
                        manzilingizni
                        kiritganingizga ishonch hosil qiling va spam jildini tekshiring.
                    </li>
                </ul>

            </div>
        </section>
    </main>

{% endblock content %}

{% block footer %}
    {% include 'course/include/_footer.html' %}
{% endblock footer %}
