{% load static %}
{% load account %}
{% profil request.user as std %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}{% endblock title %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'courses/images/icon/img.png' %}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
  
    <!-- Assets CSS Files -->
    <link href="{% static 'assets/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">


    <link href="{% static 'assets/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->

    <link href="{% static 'courses/css/style.css' %}" rel="stylesheet">

</head>
<body>
{% block style %}

{% endblock %}


{% block header %}{% endblock header %}

{% block content %}{% endblock content %}

{% block footer %}{% endblock footer %}


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Assets JS Files -->
<script src="{% static  'assets/purecounter/purecounter.js' %}"></script>
<script src="{% static  'assets/aos/aos.js' %}"></script>
<script src="{% static  'assets/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static  'assets/glightbox/dist/js/glightbox.min.js' %}"></script>
<script src="{% static  'assets/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static  'assets/swiper/swiper-bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'courses/js/main.js' %}"></script>
{% block js %}{% endblock js %}

</body>

</html>
